* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container h2, .container h1 {
  color: rgb(36, 108, 72);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(247, 47, 47);
}
.container h1 {
  padding: 30px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  -webkit-text-decoration-color: rgb(47, 47, 246);
          text-decoration-color: rgb(47, 47, 246);
  text-underline-offset: 10px;
}
.container h2 {
  padding: 1rem;
  border: 1px solid rgb(247, 47, 47);
  margin-bottom: 30px;
}
.container .frames-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container .frames-container .article-box {
  color: rgb(47, 47, 246);
  border: 1px solid rgb(36, 108, 72);
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px 10px;
}
.container .frames-container .article-box:nth-of-type(2n) {
  color: rgb(247, 47, 47);
}
.container .footer-container {
  display: flex;
  width: 100%;
}
.container .footer-container .article-footer {
  color: rgb(36, 108, 72);
  border: 1px solid rgb(47, 47, 246);
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px 10px;
  margin: 20px;
  padding: 20px;
}
.container .gradient-boxes-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.container .gradient-boxes-container .fs-1rem {
  font-size: 1rem;
}
.container .gradient-boxes-container .fs-2rem {
  font-size: 2rem;
}
.container .gradient-boxes-container .fs-3rem {
  font-size: 3rem;
}
.container .gradient-boxes-container * {
  width: 2.8125rem;
  height: 2.8125rem;
  overflow: hidden;
  border: 1px solid rgb(247, 47, 47);
  background-color: rgb(47, 47, 246);
  color: rgb(247, 47, 47);
  font-weight: 600;
}
.container .gradient-boxes-container *:nth-of-type(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(3) {
  background-color: #d9d9d9;
  color: #262626;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(4) {
  background-color: #cccccc;
  color: #333333;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(5) {
  background-color: #bfbfbf;
  color: #404040;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(7) {
  background-color: #a6a6a6;
  color: #595959;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(8) {
  background-color: #999999;
  color: #666666;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(9) {
  background-color: #8c8c8c;
  color: #737373;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(11) {
  background-color: #737373;
  color: #8c8c8c;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(12) {
  background-color: #666666;
  color: #999999;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(13) {
  background-color: #595959;
  color: #a6a6a6;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(15) {
  background-color: #404040;
  color: #bfbfbf;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(16) {
  background-color: #333333;
  color: #cccccc;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(17) {
  background-color: #262626;
  color: #d9d9d9;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
  font-weight: normal;
}
.container .gradient-boxes-container *:nth-of-type(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
  font-weight: normal;
}/*# sourceMappingURL=style.css.map */